/* jura-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jura";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/jura-v29-cyrillic_latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jura-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jura-v29-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jura-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/jura-v29-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jura-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/jura-v29-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jura-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jura";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/jura-v29-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Jura";
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #231f20;
}

/*card style */
.card {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 100px;
}

/*.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}  */

.wrapper-without-png {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.png-mobile{
  display: none;
}

.card-title {
  max-width: 727px;
  height: 155px;
  font-size: 56px;
  line-height: 108%;
  letter-spacing: -0.5%;
  margin-top: 103px;
  margin-bottom: 50px;
}

.png-main {
  margin-top: 103px;
  height: 556px;
  width: 546px;
}

.png-main-640{
  display: none;
}

.form-main {
  text-align: right;
  width: 430px;
  height: 372.3px;
}

.form-legend {
  width: 380px;
  height: 46px;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 20px;
}

.form-legend-640{
  display: none;
}

.form-legend-post {
  width: 380px;
  height: 34px;
  font-size: 14px;
  line-height: auto;
  letter-spacing: 5%;
  text-align: left;
  margin-bottom: 20px;
}

.form-legend-post-640{
  display: none;
}

.form-main-data {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-main-field {
  font-family: "Jura";
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
  width: 430px;
  height: 61px;
  background-color: #f1f5f9;
  padding: 20px;
  border: 0;
  margin-bottom: 5px;
  border: none;
  border-radius: 10px;
}

.form-main-data::placeholder {
  font-family: "Jura";
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0%;
}

.form-button {
  font-family: "Jura";
  font-size: 18px;
  font-weight: bold;
  color: white;
  line-height: 130%;
  letter-spacing: 5%;
  width: 430px;
  height: 61px;
  background-color: #ee5930;
  padding: 20px;
  border: 0;
  margin-bottom: 5px;
  border: none;
  border-radius: 10px;
}

/*choice style */
.choice {
  max-width: 1920px;
  height: 1304px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #ee5930;
  border: none;
  border-radius: 20px;
  margin-bottom: 60px;
}

/*wrapper {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}*/

.choice-title {
  /*max-width: 623px;
  height: 20.51px;*/
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0%;
  margin-top: 100px;
  margin-bottom: 80px;
  color: white;
}

.choice-wrapper {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.choice-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 424px;
  height: 460px;
  margin-bottom: 4px;
  background-color: white;
  border: none;
  border-radius: 20px;
}

.png-choice {
  width: 384px;
  height: 200px;
  margin: 20px;
}

.png-choice-mobile{
  display: none;
}

.png-icon {
  border: none;
  /*-webkit-border-radius: 15px;
  -moz-border-radius: 15px;*/
  border-radius: 15px;
}

.svg-open{
  display: none;
}

.choice-subtitle {
  max-width: 384px;
  height: 42px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 5%;
  line-height: auto;
  text-align: left;
}

.choice-text {
  width: 384px;
  max-height: 147px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 130%;
  line-height: auto;
  text-align: left;
}

/*courses style*/
.courses {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.courses-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 424px;
  height: 480px;
  margin-bottom: 4px;
  background-color: #f1f5f9;
  border: none;
  border-radius: 20px;
}

.courses-text {
  width: 384px;
  max-height: 147px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 130%;
  line-height: auto;
  text-align: left;
}

.number-of-lessons {
  max-width: 120px;
  height: 42px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 5%;
  line-height: auto;
  text-align: left;
}

.courses-link {
  position: absolute;
  bottom: -5px;
  right: -5px;
  margin-bottom: 0px;
}

.courses-mobile-link{
  display: none;
}

.courses-button {
  margin-top: 40px;
  margin-bottom: 120px;
}

.png-choice-mobile-200{
  display: none;
}

/*subscription style*/
.subscription {
  max-width: 1920px;
  height: 705px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #ee5930;
  border: none;
  border-radius: 20px;
}

.subscription-card {
  width: 424px;
  height: 285px;
  background-color: white;
  border: none;
  border-radius: 20px;
}

.subscription-content {
  margin-top: 25px;
  margin-left: 40px;
}

.subscription-imprisonment {
  text-align: start;
  font-size: 32px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0%;
  margin-bottom: 25px;
  color: #231f20;
}

.subscription-info {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 5%;
  line-height: auto;
  text-align: left;
}

.subscription-price {
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0%;
  margin-top: 25px;
  margin-bottom: 20px;
  color: #ee5930;
}

.subscription-price:after {
  content: "\20BD";
  font-size: 34px;
  font-weight: 100;
}

.subscription-text {
  font-size: 18px;
  letter-spacing: 130%;
  line-height: auto;
  text-align: left;
}

.subscription-svg {
  position: absolute;
  top: -15px;
  right: -15px;
}

.subscription-svg-mobile {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
}

/*laboratory style*/
.laboratory {
  max-width: 1920px;
  height: 1015px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #f1f5f9;
  border: none;
  border-radius: 20px;
}

.laboratory-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 1280px;
  height: 680px;
  margin: auto;
}

.lab-mobile-title{
  color: #231f20;
  margin-top: 0px;
  margin-bottom: 70px;
}

.laboratory-subtitle{
  width: 744px;
  height: 46px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  letter-spacing: 130%;
  line-height: auto;
  text-align: center;
}

.video-wrapper{
  position: absolute;
  bottom: 0px;
  width: 1280px;
  height: 500px;
  border: none;
  border-radius: 20px;
  background-color: bisque;
}

/*full professors style*/
.professor{
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.professor-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 424px;
  height: 545px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 4px;
  background-color: #f1f5f9;
  border: none;
  border-radius: 20px;
}

.desktop-professor-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 424px;
  height: 545px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 4px;
  background-color: #f1f5f9;
  border: none;
  border-radius: 20px;
}

.mobile-professor{
  display: none;
}

.professor-title-mobile{
  color: #231f20;
  margin-bottom: 120px;
}

.professor-avatar{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: none;
  border-radius: 100px;
  background-color: beige;
}

.professor-name{
  text-align: center;
  margin-bottom: 0px;
}

.professor-text {
  font-size: 18px;
  letter-spacing: 130%;
  line-height: auto;
  text-align: left;
}

.professor-text-mobile{
  text-align: center;
  color: #ee5930;
  margin-bottom: 30px;
}

.svg-professor-open{
  display: none;
}

.desktop-display{
  display: none;
}

/*.hide-professor-desctop{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 4px;
}*/

/*final style*/
.final{
  max-width: 1920px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: white;
}

.final-wrapper {
  width: 1280px;
  height: 578px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #f1f5f9;
  border: none;
  border-radius: 20px;
}

.final-card{
  position: relative;
  width: 428px;
  height: 270px;
  margin-left: 80px;
  margin-top: 160px;
}

.final-title{
  color: #231f20;
  margin-bottom: 60px;
  margin-top: 0px;
  text-align: left;
}

.png-final {
  margin-top: 36px;
  margin-right: 97px;
  height: 506px;
  width: 506px;
}

.png-final-mobile{
  display: none;
}

/*.final-wrapper {
  width: 1280px;
  height: 578px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper-without-png {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}*/
